table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-top: 50px;
    text-align: center;
}
tr{
    border: 0px solid #dddddd;
    border-radius: 10px;
}
td {
    border: 2px solid #dddddd;
    
    padding: 8px;
}
th{
    border: 2px solid #dddddd;
    text-align: center;
    padding: 8px;
    background-color: #17a2b8;
    color: white;
}
.button{
    align: center;
}